body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #0090BC;
    color: #fff;
    font-size: 1em;
  }

